<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for & v-if</title>
</head>
<body>
    
    <div id="ejemplo2">
        <h1>{{titulo}}</h1>
        <ul>
            <!-- v-for repite una etiqueta. Así que lo pongo dentro de la etiqueta que quiero repetir -->
            <!-- Recorre el array con la estructura for-of -->
            <li v-for='fruta of frutas'>{{fruta.cantidad}} = {{fruta.nombre}}
                <!-- Si se cumple la condición, muestra el texto. Si no se cumple, no lo muestra. -->
                <span v-if="fruta.cantidad===0"> - Sin stock</span>
            </li>     
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="v-for-v-if.js"></script>
</body>
</html>